<div id="listview-grid-demo" class="listview-container grid-layout">
   <a class="repo-list">
      <div class="bmicon-cube repo-image"></div>
      <div class="repo-text">
         <h4>Title</h4>
         <h6>Lorem ipsum sin ut dolorem</h6>
      </div>
   </a>
   <a class="repo-list">
      <div class="bmicon-twitter-2 repo-image"></div>
      <div class="repo-text">
         <h4>Title</h4>
         <h6>Lorem ipsum sin ut dolorem</h6>
      </div>
   </a>
   <div class="repo-list">
      <div class="bmicon-twitter-2 repo-image"></div>
      <div class="repo-text">
         <h4>Title</h4>
         <h6>Lorem ipsum sin ut dolorem</h6>
      </div>
   </div>
   <div class="repo-list">
      <div class="bmicon-twitter-2 repo-image"></div>
      <div class="repo-text">
         <h4>Title</h4>
         <h6>Lorem ipsum sin ut dolorem</h6>
      </div>
   </div>
</div>