@import url(https://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Aldrich);
@impoart url(http://fonts.googleapis.com/css?family=Electrolize&effect=emboss);

.block {
   display: block;
}

a {
    color: #091E30;
}
.digital {
   font-family: 'Electrolize', sans-serif;
}

.blog-post {
   margin: 5px 10px;
}


.repo .media-heading {
font-family: 'Aldrich', sans-serif;
 color: #091E30;
  
}
/*.repo a {
   text-decoration: none;
}
.repo a:hover {
    background-color: #DCEAF4;    
}*/
.repo p {
   color: #616161;
}

li.repo {
   border: 1px solid #DDDDDD;
   margin-left: 5px;

}
.repo span.bmicon {
   width: 42px;
   height: 42px;
   font-size: 42px;
   line-height: 42px;
}

/* from metroui css */
a:hover {
    color: rgba(0, 0, 0, 0.8);
}
h1:hover {
   color: rgba(0, 0, 0, 0.8);
}
h1:active {
   color: rgba(0, 0, 0, 0.4);
}

h2:hover {
   color: rgba(0, 0, 0, 0.8);
}
h2:active {
   color: rgba(0, 0, 0, 0.4);
}

h3:hover {
   color: rgba(0, 0, 0, 0.8);
}
h3:active {
   color: rgba(0, 0, 0, 0.4);
}

h4:hover {
   color: rgba(0, 0, 0, 0.8);
}
h4:active {
   color: rgba(0, 0, 0, 0.4);
}
h4:hover {
   color: rgba(0, 0, 0, 0.8);
}
h4:active {
   color: rgba(0, 0, 0, 0.4);
}

h5:hover {
   color: rgba(0, 0, 0, 0.8);
}
h5:active {
   color: rgba(0, 0, 0, 0.4);
}
h6:hover {
   color: rgba(0, 0, 0, 0.8);
}
h6:active {
   color: rgba(0, 0, 0, 0.4);
}
/* forked from bootmetro */


/*
h1.title {
   letter-spacing: -2px;
   line-height: 1;
   font-size: 60px;
   font-weight: 300;
   color: #24A0DA;
   font-family: "Ubuntu Mono",Arial,Helvetica,Sans-Serif;
}

header p {
   font-weight: 200;
   line-height: 1.25;
   font-size: 24px;
   margin-bottom: 30px;
   font-family: "Ubuntu Mono",Arial,Helvetica,Sans-Serif;

}    

header  title {
   color: #fffaf0;
   font-size: 40px;
   line-height: 48px;
   display: inline;
   color: #FFFFFF;
   font-weight: bold;
}
*/

.bg-color-red {
   background-color: #b91d47 !important;
}
.bg-color-green {
   background-color: #008A17 !important;
}
.bg-color-yellow {
   background-color: #ffc40d !important;
}
.bg-color-gold {
   background-color: #e3a21a !important;
}
.bg-color-orange {
   background-color: #D24726 !important;
}
.bg-color-magenta {
   background-color: #9f00a7 !important;
}
.bg-color-blue{
   background-color: #094AB2 !important;
}
.bg-color-blueLt {
   background-color: #5DB2FF !important;
}
.bg-color-purple {
   background-color: #4617B4 !important;
}
.bg-color-dark {
   background-color: #1d1d1d !important;
}
.bg-color-light {
   background-color: #eff4ff !important;
}
.bg-color-gray {
   background-color: #525252 !important;
}
.transbox {
   background-color: #ffffff;
   opacity:0.6;
   filter:alpha(opacity=40); /* For IE8 and earlier */
   font-weight:bold;
   color:#000000;
}
.bg-color-none {
   background-color: transparent;  
}

.fg-color-red {
   color: #b91d47 !important;
}
.fg-color-green {
   color: #008A17 !important;
}
.fg-color-yellow {
   color: #ffc40d !important;
}
.fg-color-gold {
   color: #e3a21a !important;
}
.fg-color-orange {
   color: #da532c !important;
}
.fg-color-magenta {
   color: #9f00a7 !important;
}
.fg-color-blue{
   color: #094AB2 !important;
}
.fg-color-blueLt {
   color: #5DB2FF !important;
}
.fg-color-purple {
   color: #4617B4 !important;
}
.fg-color-dark {
   color: #1d1d1d !important;
}
.fg-color-light {
   color: #eff4ff !important;
}
.fg-color-gray {
   color: #525252 !important;
}

[class*=border-color] {
   border: 2px solid;
}
.border-color-red {
   border-color: #b91d47 !important;
}
.border-color-green {
   border-color: #008A17 !important;
}
.border-color-yellow {
   border-color: #ffc40d !important;
}
.border-color-gold {
   border-color: #e3a21a !important;
}
.border-color-orange {
   border-color: #da532c !important;
}
.border-color-magenta {
   border-color: #9f00a7 !important;
}
.border-color-blue{
   border-color: #094AB2 !important;
}
.border-color-blueLt {
   border-color: #5DB2FF !important;
}
.border-color-purple {
   border-color: #4617B4 !important;
}

.border-color-dark {
   border-color: #1d1d1d !important;
}
.border-color-light {
   border-color: #eff4ff !important;
}
.border-color-gray {
   border-color: #525252 !important;
}

*:hover[class=outline-color] {
   outline: 3px solid;
}
.outline-color-red {
   outline-color: #b91d47 !important;
}
.outline-color-green {
   outline-color: #008A17 !important;
}
.outline-color-yellow {
   outline-color: #ffc40d !important;
}
.outline-color-gold {
   outline-color: #e3a21a !important;
}
.outline-color-orange {
   outline-color: #da532c !important;
}
.outline-color-magenta {
   outline-color: #9f00a7 !important;
}
.outline-color-blue{
   outline-color: #094AB2 !important;
}
.outline-color-blueLt {
   outline-color: #5DB2FF !important;
}
.outline-color-purple {
   outline-color: #4617B4 !important;
}
.outline-color-dark {
   outline-color: #1d1d1d !important;
}
.outline-color-light {
   outline-color: #eff4ff !important;
}
.outline-color-gray {
   outline-color: #525252 !important;
}


    .show-grid [class*="span"] {
            background-color: #D8D8D8;
            border-radius: 3px 3px 3px 3px;                    
         }
         .show-grid .golden-small {
            background-color: #B1B1B1;
         }
         .show-grid .golden-large {
            background-color: #898989;
         }